REGISTRY_STORAGE=s3
REGISTRY_STORAGE_S3_ROOTDIRECTORY=/

# Registry defaults: change these to match a bucket you have access to
REGISTRY_STORAGE_S3_REGION=us-east-1
REGISTRY_STORAGE_S3_BUCKET=some_test_bucket

# These values must be passed in from the environment
REGISTRY_STORAGE_S3_ACCESSKEY
REGISTRY_STORAGE_S3_SECRETKEY
